In [1]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')

omopcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x564b609e4cc0>

In [2]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from dask.distributed import Client

In [3]:
df_CONDITION_OCCURRENCE = pd.read_sql('select * from `CONDITION_OCCURRENCE`', con=conn)

/tmp/ipykernel_147665/1142857621.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_CONDITION_OCCURRENCE = pd.read_sql('select * from `CONDITION_OCCURRENCE`', con=conn)

In [4]:
print('Length - CONDITION_OCCURRENCE: ', len(df_CONDITION_OCCURRENCE))

Length - CONDITION_OCCURRENCE:  0

In [5]:
print(df_CONDITION_OCCURRENCE.head())

Empty DataFrame
Columns: [condition_occurrence_id, person_id, condition_concept_id, condition_start_date, condition_start_datetime, condition_end_date, condition_end_datetime, condition_type_concept_id, condition_status_concept_id, stop_reason, provider_id, visit_occurrence_id, visit_detail_id, condition_source_value, condition_source_concept_id, condition_status_source_value]
Index: []

In [6]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

mimicivconn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='mimiciv')

mimicivcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x564b609e4cc0>

In [7]:
df_patients_mimiciv = pd.read_sql('select subject_id, anchor_year, anchor_year_group from patients', con=mimicivconn)

/tmp/ipykernel_147665/330216556.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_patients_mimiciv = pd.read_sql('select subject_id, anchor_year, anchor_year_group from patients', con=mimicivconn)

In [8]:
ddf_patients_mimiciv = dd.from_pandas(df_patients_mimiciv).compute()

In [9]:
df_patients_mimiciv = ''

In [10]:
print(ddf_patients_mimiciv)

        subject_id  anchor_year anchor_year_group
0         10000032         2180       2014 - 2016
1         10000048         2126       2008 - 2010
2         10000068         2160       2008 - 2010
3         10000084         2160       2017 - 2019
4         10000102         2136       2008 - 2010
...            ...          ...               ...
299707    19999828         2147       2017 - 2019
299708    19999829         2186       2008 - 2010
299709    19999840         2164       2008 - 2010
299710    19999914         2158       2017 - 2019
299711    19999987         2145       2011 - 2013

[299712 rows x 3 columns]

In [11]:
df_admissions_mimiciv = pd.read_sql('select subject_id, admittime, dischtime from admissions', con=mimicivconn)

/tmp/ipykernel_147665/1490780762.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_admissions_mimiciv = pd.read_sql('select subject_id, admittime, dischtime from admissions', con=mimicivconn)

In [12]:
ddf_admissions_mimiciv = dd.from_pandas(df_admissions_mimiciv).compute()

In [13]:
df_admissions_mimiciv = ''

In [14]:
print(ddf_admissions_mimiciv)

        subject_id           admittime           dischtime
0         10467237 2159-03-20 21:08:00 2159-03-23 16:54:00
1         16925328 2151-05-25 21:44:00 2151-05-26 18:36:00
2         19430048 2174-05-22 19:13:00 2174-05-24 17:27:00
3         18910522 2143-09-03 07:15:00 2143-09-06 13:50:00
4         11146739 2190-01-15 17:07:00 2190-01-18 16:05:00
...            ...                 ...                 ...
431226    10382924 2170-08-09 18:56:00 2170-08-10 18:30:00
431227    11326722 2160-07-05 22:24:00 2160-07-12 12:50:00
431228    12133002 2172-09-24 21:27:00 2172-09-30 17:04:00
431229    16572164 2180-10-27 07:15:00 2180-10-30 17:25:00
431230    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00

[431231 rows x 3 columns]

In [15]:
df_d_icd_diagnoses_mimiciv = pd.read_sql('select icd_code, long_title from d_icd_diagnoses', con=mimicivconn)

/tmp/ipykernel_147665/1509648208.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_d_icd_diagnoses_mimiciv = pd.read_sql('select icd_code, long_title from d_icd_diagnoses', con=mimicivconn)

In [16]:
ddf_d_icd_diagnoses_mimiciv = dd.from_pandas(df_d_icd_diagnoses_mimiciv).compute()

In [17]:
df_d_icd_diagnoses_mimiciv = ''

In [18]:
print(ddf_d_icd_diagnoses_mimiciv)

       icd_code                                         long_title
0          0010                     Cholera due to vibrio cholerae
1          0011              Cholera due to vibrio cholerae el tor
2          0019                               Cholera, unspecified
3          0020                                      Typhoid fever
4          0021                                Paratyphoid fever A
...         ...                                                ...
109770     Z992                       Dependence on renal dialysis
109771     Z993                           Dependence on wheelchair
109772     Z998  Dependence on other enabling machines and devices
109773    Z9981                  Dependence on supplemental oxygen
109774    Z9989  Dependence on other enabling machines and devices

[109775 rows x 2 columns]

In [19]:
df_diagnoses_icd_mimiciv = pd.read_sql('select subject_id, hadm_id, icd_code from diagnoses_icd', con=mimicivconn)

/tmp/ipykernel_147665/2972764419.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_diagnoses_icd_mimiciv = pd.read_sql('select subject_id, hadm_id, icd_code from diagnoses_icd', con=mimicivconn)

In [20]:
ddf_diagnoses_icd_mimiciv = dd.from_pandas(df_diagnoses_icd_mimiciv).compute()

In [21]:
df_diagnoses_icd_mimiciv = ''

In [22]:
print(ddf_diagnoses_icd_mimiciv)

         subject_id   hadm_id icd_code
0          10000032  22595853     5723
1          10000032  22595853    78959
2          10000032  22595853     5715
3          10000032  22595853    07070
4          10000032  22595853      496
...             ...       ...      ...
4756321    19999987  23865745    41401
4756322    19999987  23865745    78039
4756323    19999987  23865745     0413
4756324    19999987  23865745    36846
4756325    19999987  23865745     7810

[4756326 rows x 3 columns]

In [23]:
ddf_adm_pat_merged = ddf_admissions_mimiciv.merge(ddf_patients_mimiciv, how='inner', on='subject_id')
print(ddf_adm_pat_merged)

        subject_id           admittime           dischtime  anchor_year  \
0         10467237 2159-03-20 21:08:00 2159-03-23 16:54:00         2159
1         16925328 2151-05-25 21:44:00 2151-05-26 18:36:00         2143
2         19430048 2174-05-22 19:13:00 2174-05-24 17:27:00         2172
3         18910522 2143-09-03 07:15:00 2143-09-06 13:50:00         2142
4         11146739 2190-01-15 17:07:00 2190-01-18 16:05:00         2188
...            ...                 ...                 ...          ...
431226    10382924 2170-08-09 18:56:00 2170-08-10 18:30:00         2170
431227    11326722 2160-07-05 22:24:00 2160-07-12 12:50:00         2160
431228    12133002 2172-09-24 21:27:00 2172-09-30 17:04:00         2166
431229    16572164 2180-10-27 07:15:00 2180-10-30 17:25:00         2180
431230    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00         2164

       anchor_year_group
0            2011 - 2013
1            2008 - 2010
2            2017 - 2019
3            2011 - 2013
4            2011 - 2013
...                  ...
431226       2008 - 2010
431227       2008 - 2010
431228       2008 - 2010
431229       2014 - 2016
431230       2017 - 2019

[431231 rows x 5 columns]

In [24]:
ddf_icd_merged = ddf_diagnoses_icd_mimiciv.merge(ddf_d_icd_diagnoses_mimiciv, how='inner', on='icd_code')
print(ddf_icd_merged)

         subject_id   hadm_id icd_code  \
0          10000032  22595853     5723
1          10000032  22595853    78959
2          10000032  22595853     5715
3          10000032  22595853    07070
4          10000032  22595853      496
...             ...       ...      ...
4860275    19999987  23865745    41401
4860276    19999987  23865745    78039
4860277    19999987  23865745     0413
4860278    19999987  23865745    36846
4860279    19999987  23865745     7810

                                                long_title
0                                      Portal hypertension
1                                            Other ascites
2            Cirrhosis of liver without mention of alcohol
3        Unspecified viral hepatitis C without hepatic ...
4        Chronic airway obstruction, not elsewhere clas...
...                                                    ...
4860275  Coronary atherosclerosis of native coronary ar...
4860276                                  Other convulsions
4860277  Friedländer's bacillus infection in conditions...
4860278                 Homonymous bilateral field defects
4860279                     Abnormal involuntary movements

[4860280 rows x 4 columns]

In [25]:
ddf_diagnoses_adm_merged = ddf_adm_pat_merged.merge(ddf_icd_merged, how='inner', on='subject_id')
print(ddf_diagnoses_adm_merged)

          subject_id           admittime           dischtime  anchor_year  \
0           10467237 2159-03-20 21:08:00 2159-03-23 16:54:00         2159
1           10467237 2159-03-20 21:08:00 2159-03-23 16:54:00         2159
2           10467237 2159-03-20 21:08:00 2159-03-23 16:54:00         2159
3           10467237 2159-03-20 21:08:00 2159-03-23 16:54:00         2159
4           10467237 2159-03-20 21:08:00 2159-03-23 16:54:00         2159
...              ...                 ...                 ...          ...
39747709    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00         2164
39747710    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00         2164
39747711    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00         2164
39747712    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00         2164
39747713    16549335 2165-07-28 17:22:00 2165-07-31 11:53:00         2164

         anchor_year_group   hadm_id icd_code  \
0              2011 - 2013  20000019     0389
1              2011 - 2013  20000019    59080
2              2011 - 2013  20000019    75310
3              2011 - 2013  20000019     5849
4              2011 - 2013  20000019     2761
...                    ...       ...      ...
39747709       2017 - 2019  29999928    Z8241
39747710       2017 - 2019  29999928     I959
39747711       2017 - 2019  29999928     I493
39747712       2017 - 2019  29999928     D500
39747713       2017 - 2019  29999928    K5900

                                                 long_title
0                                    Unspecified septicemia
1                               Pyelonephritis, unspecified
2                        Cystic kidney disease, unspecified
3                         Acute kidney failure, unspecified
4                         Hyposmolality and/or hyponatremia
...                                                     ...
39747709             Family history of sudden cardiac death
39747710                           Hypotension, unspecified
39747711               Ventricular premature depolarization
39747712  Iron deficiency anemia secondary to blood loss...
39747713                          Constipation, unspecified

[39747714 rows x 8 columns]

In [27]:
ddf_diagnoses_adm_merged['median_anchor_year'] = ddf_diagnoses_adm_merged['anchor_year_group'].str.split('-').apply(lambda x: int((int(x[0]) + int(x[1])) / 2))
ddf_diagnoses_adm_merged['condition_year'] = ddf_diagnoses_adm_merged['admittime'].dt.year
ddf_diagnoses_adm_merged['month_of_condition'] = ddf_diagnoses_adm_merged['admittime'].dt.month
ddf_diagnoses_adm_merged['day_of_condition'] = ddf_diagnoses_adm_merged['admittime'].dt.day
ddf_diagnoses_adm_merged['diff_year'] = ddf_diagnoses_adm_merged['anchor_year'] - ddf_diagnoses_adm_merged['median_anchor_year']
ddf_diagnoses_adm_merged['year_of_condition'] = ddf_diagnoses_adm_merged['condition_year'] - ddf_diagnoses_adm_merged['diff_year']
ddf_diagnoses_adm_merged['day_of_condition'] = ddf_diagnoses_adm_merged.apply(
    lambda row: min(row['day_of_condition'], pd.Period(year=row['year_of_condition'], month=row['month_of_condition'], freq='M').days_in_month),
    axis=1
)
ddf_diagnoses_adm_merged['condition_start_date'] = pd.to_datetime(
    {
        'year': ddf_diagnoses_adm_merged['year_of_condition'],
        'month': ddf_diagnoses_adm_merged['month_of_condition'],
        'day': ddf_diagnoses_adm_merged['day_of_condition']
    }
)
print(ddf_diagnoses_adm_merged[['condition_start_date']])

         condition_start_date
0                  2012-03-20
1                  2012-03-20
2                  2012-03-20
3                  2012-03-20
4                  2012-03-20
...                       ...
39747709           2019-07-28
39747710           2019-07-28
39747711           2019-07-28
39747712           2019-07-28
39747713           2019-07-28

[39747714 rows x 1 columns]

In [28]:
ddf_diagnoses_adm_merged['time_of_condition'] = ddf_diagnoses_adm_merged['admittime'].dt.time
ddf_diagnoses_adm_merged['condition_start_datetime'] = pd.to_datetime(
    {
        'year': ddf_diagnoses_adm_merged['year_of_condition'],
        'month': ddf_diagnoses_adm_merged['month_of_condition'],
        'day': ddf_diagnoses_adm_merged['day_of_condition'],
        'hour': ddf_diagnoses_adm_merged['time_of_condition'].apply(lambda x: x.hour),
        'minute': ddf_diagnoses_adm_merged['time_of_condition'].apply(lambda x: x.minute),
        'second': ddf_diagnoses_adm_merged['time_of_condition'].apply(lambda x: x.second)
    }
)

print(ddf_diagnoses_adm_merged[['condition_start_datetime']])

         condition_start_datetime
0             2012-03-20 21:08:00
1             2012-03-20 21:08:00
2             2012-03-20 21:08:00
3             2012-03-20 21:08:00
4             2012-03-20 21:08:00
...                           ...
39747709      2019-07-28 17:22:00
39747710      2019-07-28 17:22:00
39747711      2019-07-28 17:22:00
39747712      2019-07-28 17:22:00
39747713      2019-07-28 17:22:00

[39747714 rows x 1 columns]

In [29]:
ddf_diagnoses_adm_merged['condition_end_year'] = ddf_diagnoses_adm_merged['dischtime'].dt.year
ddf_diagnoses_adm_merged['year_of_condition_end'] = ddf_diagnoses_adm_merged['condition_end_year'] - ddf_diagnoses_adm_merged['diff_year']
ddf_diagnoses_adm_merged['month_of_condition_end'] = ddf_diagnoses_adm_merged['dischtime'].dt.month
ddf_diagnoses_adm_merged['day_of_condition_end'] = ddf_diagnoses_adm_merged['dischtime'].dt.day
ddf_diagnoses_adm_merged['day_of_condition_end'] = ddf_diagnoses_adm_merged.apply(
    lambda row: min(row['day_of_condition_end'], pd.Period(year=row['year_of_condition_end'], month=row['month_of_condition_end'], freq='M').days_in_month),
    axis=1
)
ddf_diagnoses_adm_merged['condition_end_date'] = pd.to_datetime(
    {
        'year': ddf_diagnoses_adm_merged['year_of_condition_end'],
        'month': ddf_diagnoses_adm_merged['month_of_condition_end'],
        'day': ddf_diagnoses_adm_merged['day_of_condition_end']
    }
)
print(ddf_diagnoses_adm_merged[['condition_end_date']])

         condition_end_date
0                2012-03-23
1                2012-03-23
2                2012-03-23
3                2012-03-23
4                2012-03-23
...                     ...
39747709         2019-07-31
39747710         2019-07-31
39747711         2019-07-31
39747712         2019-07-31
39747713         2019-07-31

[39747714 rows x 1 columns]

In [1]:
ddf_diagnoses_adm_merged['time_of_condition_end'] = ddf_diagnoses_adm_merged['dischtime'].dt.time
ddf_diagnoses_adm_merged['condition_end_datetime'] = pd.to_datetime(
    {
        'year': ddf_diagnoses_adm_merged['year_of_condition_end'],
        'month': ddf_diagnoses_adm_merged['month_of_condition_end'],
        'day': ddf_diagnoses_adm_merged['day_of_condition_end'],
        'hour': ddf_diagnoses_adm_merged['time_of_condition_end'].apply(lambda x: x.hour),
        'minute': ddf_diagnoses_adm_merged['time_of_condition_end'].apply(lambda x: x.minute),
        'second': ddf_diagnoses_adm_merged['time_of_condition_end'].apply(lambda x: x.second)
    }
)

print(ddf_diagnoses_adm_merged[['condition_end_datetime']])

NameError: name 'ddf_diagnoses_adm_merged' is not defined

In [44]:
null_or_nat_count = ddf_diagnoses_adm_merged['admittime'].isna().sum()
print("Number of null or NaT values in the 'admittime' column:", null_or_nat_count)
null_or_nat_count = ddf_diagnoses_adm_merged['dischtime'].isna().sum()
print("Number of null or NaT values in the 'dischtime' column:", null_or_nat_count)

Number of null or NaT values in the 'admittime' column: 0
Number of null or NaT values in the 'dischtime' column: 0

In [45]:
null_or_nat_count = ddf_diagnoses_adm_merged['condition_start_datetime'].isna().sum()
print("Number of null or NaT values in the 'condition_start_datetime' column:", null_or_nat_count)
null_or_nat_count = ddf_diagnoses_adm_merged['condition_end_datetime'].isna().sum()
print("Number of null or NaT values in the 'condition_end_datetime' column:", null_or_nat_count)

Number of null or NaT values in the 'condition_start_datetime' column: 0
Number of null or NaT values in the 'condition_end_datetime' column: 0

In [46]:
ddf_diagnoses_adm_merged['condition_type_concept_id'] = 32817
print(ddf_diagnoses_adm_merged[['condition_type_concept_id']])

          condition_type_concept_id
0                             32817
1                             32817
2                             32817
3                             32817
4                             32817
...                             ...
39747709                      32817
39747710                      32817
39747711                      32817
39747712                      32817
39747713                      32817

[39747714 rows x 1 columns]

In [47]:
ddf_diagnoses_adm_merged['stop_reason'] = np.nan
print(ddf_diagnoses_adm_merged[['stop_reason']])

          stop_reason
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
39747709          NaN
39747710          NaN
39747711          NaN
39747712          NaN
39747713          NaN

[39747714 rows x 1 columns]

In [48]:
ddf_diagnoses_adm_merged['condition_status_concept_id'] = np.nan
print(ddf_diagnoses_adm_merged[['condition_status_concept_id']])

          condition_status_concept_id
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
39747709                          NaN
39747710                          NaN
39747711                          NaN
39747712                          NaN
39747713                          NaN

[39747714 rows x 1 columns]

In [49]:
ddf_diagnoses_adm_merged['condition_status_source_value'] = np.nan
print(ddf_diagnoses_adm_merged[['condition_status_source_value']])

          condition_status_source_value
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
...                                 ...
39747709                            NaN
39747710                            NaN
39747711                            NaN
39747712                            NaN
39747713                            NaN

[39747714 rows x 1 columns]

In [50]:
ddf_diagnoses_adm_merged['visit_detail_id'] = np.nan
print(ddf_diagnoses_adm_merged[['visit_detail_id']])

          visit_detail_id
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
39747709              NaN
39747710              NaN
39747711              NaN
39747712              NaN
39747713              NaN

[39747714 rows x 1 columns]

In [51]:
default_provider_id = 1
ddf_diagnoses_adm_merged['provider_id'] = default_provider_id
print(ddf_diagnoses_adm_merged[['provider_id']])

          provider_id
0                   1
1                   1
2                   1
3                   1
4                   1
...               ...
39747709            1
39747710            1
39747711            1
39747712            1
39747713            1

[39747714 rows x 1 columns]

In [ ]:
condition_mapping = {
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
}

ddf_diagnoses_adm_merged['condition_concept_id'] = ddf_diagnoses_adm_merged['long_title'].map(condition_mapping)
ddf_diagnoses_adm_merged['condition_concept_id'] = ddf_diagnoses_adm_merged['condition_concept_id'].astype('Int64')

print(ddf_adm_pat_merged[['long_title', 'condition_concept_id']])

In [ ]:
ddf_diagnoses_adm_merged_copy =  ddf_diagnoses_adm_merged.copy()
ddf_diagnoses_adm_merged_copy

In [ ]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')
omopcursor = conn.cursor()

In [ ]:
condition_occurrence_data = ddf_diagnoses_adm_merged_copy[['condition_occurrence_id', 'subject_id', 'condition_concept_id', 'condition_start_date', 'condition_start_datetime', 'condition_end_date', 'condition_end_datetime', 'condition_type_concept_id', 'condition_status_concept_id', 'stop_reason', 'provider_id', 'hadm_id', 'visit_detail_id', 'long_title', 'icd_code', 'condition_status_source_value']]

for index, row in condition_occurrence_data.iterrows():
    row = row.where(pd.notnull(row), None)
    
    sql = "INSERT INTO CONDITION_OCCURRENCE (condition_occurrence_id, person_id, condition_concept_id, condition_start_date, condition_start_datetime, condition_end_date, condition_end_datetime, condition_type_concept_id, condition_status_concept_id, stop_reason, provider_id, visit_occurrence_id, visit_detail_id, condition_source_value, condition_source_concept_id, condition_status_source_value) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    
    omopcursor.execute(sql, (
        row['condition_occurrence_id'],
        row['subject_id'],
        row['condition_concept_id'],
        row['condition_start_date'],
        row['condition_start_datetime'],
        row['condition_end_date'],
        row['condition_end_datetime'],
        row['condition_type_concept_id'],
        row['condition_status_concept_id'],
        row['stop_reason']
        row['provider_id'],
        row['hadm_id']
        row['visit_detail_id'],
        row['long_title'],
        row['icd_code'],
        row['condition_status_source_value']
    ))

conn.commit()
print("Insertion was successful.")