In [23]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')

omopcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x55f4c53bb0a0>

In [24]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from dask.distributed import Client

In [25]:
df_PERSON = pd.read_sql('select * from `PERSON`', con=conn)

/tmp/ipykernel_90372/1978828713.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_PERSON = pd.read_sql('select * from `PERSON`', con=conn)

In [26]:
print('Length - PERSON: ', len(df_PERSON))

Length - PERSON:  431231

In [27]:
print(df_PERSON.head())

   person_id  gender_concept_id  year_of_birth  month_of_birth  day_of_birth  \
0   10467237               8532           1936               3            20
1   16925328               8532           1933               5            25
2   19430048               8507           1948               5            22
3   18910522               8532           1951               9             3
4   11146739               8532           1923               1            15

       birth_datetime death_datetime  race_concept_id  ethnicity_concept_id  \
0 1936-03-20 21:08:00            NaT                0              38003563
1 1933-05-25 21:44:00            NaT             8527                     0
2 1948-05-22 19:13:00            NaT         38003598                     0
3 1951-09-03 07:15:00            NaT             8527                     0
4 1923-01-15 17:07:00            NaT             8527                     0

  location_id  provider_id care_site_id person_source_value  \
0        None            1         None                None
1        None            1         None                None
2        None            1         None                None
3        None            1         None                None
4        None            1         None                None

  gender_source_value  gender_source_concept_id       race_source_value  \
0                   F                         0                    None
1                   F                         0                   WHITE
2                   M                         0  BLACK/CARIBBEAN ISLAND
3                   F                         0                   WHITE
4                   F                         0                   WHITE

   race_source_concept_id        ethnicity_source_value  \
0                       0  HISPANIC/LATINO - GUATEMALAN
1                       0                          None
2                       0                          None
3                       0                          None
4                       0                          None

   ethnicity_source_concept_id
0                            0
1                            0
2                            0
3                            0
4                            0

In [18]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

mimicivconn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='mimiciv')

mimicivcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x55f4c3dc5a10>

In [7]:
df_patients_mimiciv = pd.read_sql('select * from patients', con=mimicivconn)
print(df_patients_mimiciv.head())

/tmp/ipykernel_526260/3190849860.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_patients_mimiciv = pd.read_sql('select * from patients', con=mimicivconn)

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010        None
2    10000068      F          19         2160       2008 - 2010        None
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010        None

In [8]:
ddf_patients_mimiciv = dd.from_pandas(df_patients_mimiciv).compute()

In [9]:
df_patients_mimiciv = ''

In [10]:
print(ddf_patients_mimiciv.head())

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010        <NA>
2    10000068      F          19         2160       2008 - 2010        <NA>
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010        <NA>

In [11]:
df_admissions_mimiciv = pd.read_sql('select * from admissions', con=mimicivconn)
print(df_admissions_mimiciv.head())

/tmp/ipykernel_526260/3412243236.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_admissions_mimiciv = pd.read_sql('select * from admissions', con=mimicivconn)

   subject_id   hadm_id           admittime           dischtime deathtime  \
0    10467237  20000019 2159-03-20 21:08:00 2159-03-23 16:54:00       NaT
1    16925328  20000024 2151-05-25 21:44:00 2151-05-26 18:36:00       NaT
2    19430048  20000034 2174-05-22 19:13:00 2174-05-24 17:27:00       NaT
3    18910522  20000041 2143-09-03 07:15:00 2143-09-06 13:50:00       NaT
4    11146739  20000057 2190-01-15 17:07:00 2190-01-18 16:05:00       NaT

                admission_type admit_provider_id  admission_location  \
0                     EW EMER.            P25U4M      EMERGENCY ROOM
1                     EW EMER.            P54Q2B      EMERGENCY ROOM
2           DIRECT OBSERVATION            P30SZF  PHYSICIAN REFERRAL
3  SURGICAL SAME DAY ADMISSION            P48VXK  PHYSICIAN REFERRAL
4               EU OBSERVATION            P77SO2      EMERGENCY ROOM

         discharge_location insurance language marital_status  \
0                      HOME     Other        ?         SINGLE
1          HOME HEALTH CARE  Medicare  ENGLISH         SINGLE
2                      None  Medicare  ENGLISH         SINGLE
3  SKILLED NURSING FACILITY     Other  ENGLISH         SINGLE
4                      None  Medicare  ENGLISH         SINGLE

                           race           edregtime           edouttime  \
0  HISPANIC/LATINO - GUATEMALAN 2159-03-20 18:56:00 2159-03-20 22:48:00
1                         WHITE 2151-05-25 15:03:00 2151-05-26 00:03:00
2        BLACK/CARIBBEAN ISLAND                 NaT                 NaT
3                         WHITE                 NaT                 NaT
4                         WHITE 2190-01-15 14:41:00 2190-01-15 18:40:00

   hospital_expire_flag
0                     0
1                     0
2                     0
3                     0
4                     0

In [12]:
ddf_admissions_mimiciv = dd.from_pandas(df_admissions_mimiciv).compute()

In [13]:
df_admissions_mimiciv = ''

In [14]:
print(ddf_admissions_mimiciv)

        subject_id   hadm_id           admittime           dischtime  \
0         10467237  20000019 2159-03-20 21:08:00 2159-03-23 16:54:00
1         16925328  20000024 2151-05-25 21:44:00 2151-05-26 18:36:00
2         19430048  20000034 2174-05-22 19:13:00 2174-05-24 17:27:00
3         18910522  20000041 2143-09-03 07:15:00 2143-09-06 13:50:00
4         11146739  20000057 2190-01-15 17:07:00 2190-01-18 16:05:00
...            ...       ...                 ...                 ...
431226    10382924  29999723 2170-08-09 18:56:00 2170-08-10 18:30:00
431227    11326722  29999745 2160-07-05 22:24:00 2160-07-12 12:50:00
431228    12133002  29999809 2172-09-24 21:27:00 2172-09-30 17:04:00
431229    16572164  29999828 2180-10-27 07:15:00 2180-10-30 17:25:00
431230    16549335  29999928 2165-07-28 17:22:00 2165-07-31 11:53:00

       deathtime               admission_type admit_provider_id  \
0            NaT                     EW EMER.            P25U4M
1            NaT                     EW EMER.            P54Q2B
2            NaT           DIRECT OBSERVATION            P30SZF
3            NaT  SURGICAL SAME DAY ADMISSION            P48VXK
4            NaT               EU OBSERVATION            P77SO2
...          ...                          ...               ...
431226       NaT                     EW EMER.            P886Y0
431227       NaT                     EW EMER.            P64BMC
431228       NaT                     EW EMER.            P14D72
431229       NaT  SURGICAL SAME DAY ADMISSION            P843YV
431230       NaT           DIRECT OBSERVATION            P38RSS

        admission_location        discharge_location insurance language  \
0           EMERGENCY ROOM                      HOME     Other        ?
1           EMERGENCY ROOM          HOME HEALTH CARE  Medicare  ENGLISH
2       PHYSICIAN REFERRAL                      <NA>  Medicare  ENGLISH
3       PHYSICIAN REFERRAL  SKILLED NURSING FACILITY     Other  ENGLISH
4           EMERGENCY ROOM                      <NA>  Medicare  ENGLISH
...                    ...                       ...       ...      ...
431226      EMERGENCY ROOM                      HOME     Other  ENGLISH
431227      EMERGENCY ROOM                      HOME     Other  ENGLISH
431228      EMERGENCY ROOM                      HOME  Medicare  ENGLISH
431229  PHYSICIAN REFERRAL                      HOME     Other  ENGLISH
431230  PHYSICIAN REFERRAL                      <NA>     Other  ENGLISH

       marital_status                          race           edregtime  \
0              SINGLE  HISPANIC/LATINO - GUATEMALAN 2159-03-20 18:56:00
1              SINGLE                         WHITE 2151-05-25 15:03:00
2              SINGLE        BLACK/CARIBBEAN ISLAND                 NaT
3              SINGLE                         WHITE                 NaT
4              SINGLE                         WHITE 2190-01-15 14:41:00
...               ...                           ...                 ...
431226        MARRIED                         WHITE 2170-08-09 15:41:00
431227         SINGLE                         WHITE 2160-07-05 18:15:00
431228        MARRIED                         WHITE 2172-09-24 18:14:00
431229         SINGLE                         WHITE                 NaT
431230        MARRIED                         WHITE                 NaT

                 edouttime  hospital_expire_flag
0      2159-03-20 22:48:00                     0
1      2151-05-26 00:03:00                     0
2                      NaT                     0
3                      NaT                     0
4      2190-01-15 18:40:00                     0
...                    ...                   ...
431226 2170-08-09 19:50:00                     0
431227 2160-07-05 23:25:00                     0
431228 2172-09-24 22:38:00                     0
431229                 NaT                     0
431230                 NaT                     0

[431231 rows x 16 columns]

In [15]:
ddf_adm_pat_merged = ddf_admissions_mimiciv.merge(ddf_patients_mimiciv, how='inner', on='subject_id')
print(ddf_adm_pat_merged)

        subject_id   hadm_id           admittime           dischtime  \
0         10467237  20000019 2159-03-20 21:08:00 2159-03-23 16:54:00
1         16925328  20000024 2151-05-25 21:44:00 2151-05-26 18:36:00
2         19430048  20000034 2174-05-22 19:13:00 2174-05-24 17:27:00
3         18910522  20000041 2143-09-03 07:15:00 2143-09-06 13:50:00
4         11146739  20000057 2190-01-15 17:07:00 2190-01-18 16:05:00
...            ...       ...                 ...                 ...
431226    10382924  29999723 2170-08-09 18:56:00 2170-08-10 18:30:00
431227    11326722  29999745 2160-07-05 22:24:00 2160-07-12 12:50:00
431228    12133002  29999809 2172-09-24 21:27:00 2172-09-30 17:04:00
431229    16572164  29999828 2180-10-27 07:15:00 2180-10-30 17:25:00
431230    16549335  29999928 2165-07-28 17:22:00 2165-07-31 11:53:00

       deathtime               admission_type admit_provider_id  \
0            NaT                     EW EMER.            P25U4M
1            NaT                     EW EMER.            P54Q2B
2            NaT           DIRECT OBSERVATION            P30SZF
3            NaT  SURGICAL SAME DAY ADMISSION            P48VXK
4            NaT               EU OBSERVATION            P77SO2
...          ...                          ...               ...
431226       NaT                     EW EMER.            P886Y0
431227       NaT                     EW EMER.            P64BMC
431228       NaT                     EW EMER.            P14D72
431229       NaT  SURGICAL SAME DAY ADMISSION            P843YV
431230       NaT           DIRECT OBSERVATION            P38RSS

        admission_location        discharge_location insurance  ...  \
0           EMERGENCY ROOM                      HOME     Other  ...
1           EMERGENCY ROOM          HOME HEALTH CARE  Medicare  ...
2       PHYSICIAN REFERRAL                      <NA>  Medicare  ...
3       PHYSICIAN REFERRAL  SKILLED NURSING FACILITY     Other  ...
4           EMERGENCY ROOM                      <NA>  Medicare  ...
...                    ...                       ...       ...  ...
431226      EMERGENCY ROOM                      HOME     Other  ...
431227      EMERGENCY ROOM                      HOME     Other  ...
431228      EMERGENCY ROOM                      HOME  Medicare  ...
431229  PHYSICIAN REFERRAL                      HOME     Other  ...
431230  PHYSICIAN REFERRAL                      <NA>     Other  ...

       marital_status                          race           edregtime  \
0              SINGLE  HISPANIC/LATINO - GUATEMALAN 2159-03-20 18:56:00
1              SINGLE                         WHITE 2151-05-25 15:03:00
2              SINGLE        BLACK/CARIBBEAN ISLAND                 NaT
3              SINGLE                         WHITE                 NaT
4              SINGLE                         WHITE 2190-01-15 14:41:00
...               ...                           ...                 ...
431226        MARRIED                         WHITE 2170-08-09 15:41:00
431227         SINGLE                         WHITE 2160-07-05 18:15:00
431228        MARRIED                         WHITE 2172-09-24 18:14:00
431229         SINGLE                         WHITE                 NaT
431230        MARRIED                         WHITE                 NaT

                 edouttime hospital_expire_flag  gender anchor_age  \
0      2159-03-20 22:48:00                    0       F         76
1      2151-05-26 00:03:00                    0       F         84
2                      NaT                    0       M         72
3                      NaT                    0       F         62
4      2190-01-15 18:40:00                    0       F         91
...                    ...                  ...     ...        ...
431226 2170-08-09 19:50:00                    0       M         61
431227 2160-07-05 23:25:00                    0       M         49
431228 2172-09-24 22:38:00                    0       M         73
431229                 NaT                    0       M         47
431230                 NaT                    0       M         37

        anchor_year  anchor_year_group         dod
0              2159        2011 - 2013        <NA>
1              2143        2008 - 2010  2154-12-26
2              2172        2017 - 2019  2174-12-30
3              2142        2011 - 2013        <NA>
4              2188        2011 - 2013  2191-11-11
...             ...                ...         ...
431226         2170        2008 - 2010  2174-05-31
431227         2160        2008 - 2010        <NA>
431228         2166        2008 - 2010        <NA>
431229         2180        2014 - 2016        <NA>
431230         2164        2017 - 2019        <NA>

[431231 rows x 21 columns]

In [16]:
ddf_adm_pat_merged['median_anchor_year'] = ddf_adm_pat_merged['anchor_year_group'].str.split('-').apply(lambda x: int((int(x[0]) + int(x[1])) / 2))
ddf_adm_pat_merged['admittime_year'] = ddf_adm_pat_merged['admittime'].dt.year
ddf_adm_pat_merged['diff_year'] = ddf_adm_pat_merged['anchor_year'] - ddf_adm_pat_merged['median_anchor_year']
ddf_adm_pat_merged['year_of_admit'] = ddf_adm_pat_merged['admittime_year'] - ddf_adm_pat_merged['diff_year']
ddf_adm_pat_merged['year_of_birth'] = ddf_adm_pat_merged['year_of_admit'] - ddf_adm_pat_merged['anchor_age']
ddf_adm_pat_merged['year_of_birth'] = ddf_adm_pat_merged['year_of_birth'].astype(int)
print(ddf_adm_pat_merged[['anchor_year_group', 'anchor_age', 'median_anchor_year', 'year_of_birth']])

       anchor_year_group  anchor_age  median_anchor_year  year_of_birth
0            2011 - 2013          76                2012           1936
1            2008 - 2010          84                2009           1933
2            2017 - 2019          72                2018           1948
3            2011 - 2013          62                2012           1951
4            2011 - 2013          91                2012           1923
...                  ...         ...                 ...            ...
431226       2008 - 2010          61                2009           1948
431227       2008 - 2010          49                2009           1960
431228       2008 - 2010          73                2009           1942
431229       2014 - 2016          47                2015           1968
431230       2017 - 2019          37                2018           1982

[431231 rows x 4 columns]

In [17]:
ddf_adm_pat_merged['month_of_birth'] = ddf_adm_pat_merged['admittime'].dt.month
ddf_adm_pat_merged['day_of_birth'] = ddf_adm_pat_merged['admittime'].dt.day
ddf_adm_pat_merged['time_of_birth'] = ddf_adm_pat_merged['admittime'].dt.time

ddf_adm_pat_merged['day_of_birth'] = ddf_adm_pat_merged.apply(
    lambda row: min(row['day_of_birth'], pd.Period(year=row['year_of_birth'], month=row['month_of_birth'], freq='M').days_in_month),
    axis=1
)

ddf_adm_pat_merged['birth_datetime'] = pd.to_datetime(
    {
        'year': ddf_adm_pat_merged['year_of_birth'],
        'month': ddf_adm_pat_merged['month_of_birth'],
        'day': ddf_adm_pat_merged['day_of_birth'],
        'hour': ddf_adm_pat_merged['time_of_birth'].apply(lambda x: x.hour),
        'minute': ddf_adm_pat_merged['time_of_birth'].apply(lambda x: x.minute),
        'second': ddf_adm_pat_merged['time_of_birth'].apply(lambda x: x.second)
    }
)

print(ddf_adm_pat_merged[['year_of_birth', 'month_of_birth', 'day_of_birth', 'time_of_birth', 'birth_datetime']])

        year_of_birth  month_of_birth  day_of_birth time_of_birth  \
0                1936               3            20      21:08:00
1                1933               5            25      21:44:00
2                1948               5            22      19:13:00
3                1951               9             3      07:15:00
4                1923               1            15      17:07:00
...               ...             ...           ...           ...
431226           1948               8             9      18:56:00
431227           1960               7             5      22:24:00
431228           1942               9            24      21:27:00
431229           1968              10            27      07:15:00
431230           1982               7            28      17:22:00

            birth_datetime
0      1936-03-20 21:08:00
1      1933-05-25 21:44:00
2      1948-05-22 19:13:00
3      1951-09-03 07:15:00
4      1923-01-15 17:07:00
...                    ...
431226 1948-08-09 18:56:00
431227 1960-07-05 22:24:00
431228 1942-09-24 21:27:00
431229 1968-10-27 07:15:00
431230 1982-07-28 17:22:00

[431231 rows x 5 columns]

In [18]:
ddf_adm_pat_merged['month_of_death'] = ddf_adm_pat_merged['deathtime'].dt.month
ddf_adm_pat_merged['day_of_death'] = ddf_adm_pat_merged['deathtime'].dt.day
ddf_adm_pat_merged['time_of_death'] = ddf_adm_pat_merged['deathtime'].dt.time
mask = (ddf_adm_pat_merged['hospital_expire_flag'] == 1) & (ddf_adm_pat_merged['deathtime'].notnull())
ddf_adm_pat_merged['year_of_death'] = ddf_adm_pat_merged['deathtime'].dt.year
ddf_adm_pat_merged['year_of_death'] = ddf_adm_pat_merged['deathtime'].dt.year - ddf_adm_pat_merged['diff_year']
ddf_adm_pat_merged.loc[mask, 'year_of_death'] = ddf_adm_pat_merged['year_of_death']
ddf_adm_pat_merged['time_of_death_str'] = ddf_adm_pat_merged['deathtime'].dt.strftime('%H:%M:%S') if 'deathtime' in ddf_adm_pat_merged.columns else ddf_adm_pat_merged['time_of_death']
ddf_adm_pat_merged['death_datetime'] = pd.NaT
ddf_adm_pat_merged['death_datetime'] = ddf_adm_pat_merged['death_datetime'].apply(lambda x: None if pd.isnull(x) else x)
valid_rows = ddf_adm_pat_merged.dropna(subset=['year_of_death', 'month_of_death', 'day_of_death', 'time_of_death_str'])
if not valid_rows.empty:
    ddf_adm_pat_merged.loc[valid_rows.index, 'death_datetime'] = pd.to_datetime(
        valid_rows[['year_of_death', 'month_of_death', 'day_of_death']].astype(int).astype(str).agg('-'.join, axis=1)
        + ' ' +
        valid_rows['time_of_death_str'],
        format='%Y-%m-%d %H:%M:%S',
        errors='coerce'
)
print(ddf_adm_pat_merged[['deathtime', 'diff_year', 'year_of_death', 'month_of_death', 'day_of_death', 'time_of_death', 'death_datetime']].iloc[:10])

            deathtime  diff_year  year_of_death  month_of_death  day_of_death  \
0                 NaT        147            NaN             NaN           NaN
1                 NaT        134            NaN             NaN           NaN
2                 NaT        154            NaN             NaN           NaN
3                 NaT        130            NaN             NaN           NaN
4                 NaT        176            NaN             NaN           NaN
5                 NaT        116            NaN             NaN           NaN
6 2150-03-03 09:21:00        133         2017.0             3.0           3.0
7                 NaT        126            NaN             NaN           NaN
8                 NaT        103            NaN             NaN           NaN
9                 NaT        187            NaN             NaN           NaN

  time_of_death       death_datetime
0           NaT                 None
1           NaT                 None
2           NaT                 None
3           NaT                 None
4           NaT                 None
5           NaT                 None
6      09:21:00  2017-03-03 09:21:00
7           NaT                 None
8           NaT                 None
9           NaT                 None

In [19]:
null_or_nat_count = ddf_adm_pat_merged['admittime'].isna().sum()
print("Number of null or NaT values in the 'admittime' column:", null_or_nat_count)
null_or_nat_count = ddf_adm_pat_merged['deathtime'].isna().sum()
print("Number of null or NaT values in the 'deathtime' column:", null_or_nat_count)

Number of null or NaT values in the 'admittime' column: 0
Number of null or NaT values in the 'deathtime' column: 422633

In [20]:
null_or_nat_count = ddf_adm_pat_merged['birth_datetime'].isna().sum()
print("Number of null or NaT values in the 'birth_datetime' column:", null_or_nat_count)
null_or_nat_count = ddf_adm_pat_merged['death_datetime'].isna().sum()
print("Number of null or NaT values in the 'death_datetime' column:", null_or_nat_count)

Number of null or NaT values in the 'birth_datetime' column: 0
Number of null or NaT values in the 'death_datetime' column: 422635

In [21]:
race_mapping = {
    "AMERICAN INDIAN/ALASKA NATIVE": 38003572,
    "ASIAN": 8515,
    "ASIAN - ASIAN INDIAN": 8515,
    "ASIAN - CHINESE": 8515,
    "ASIAN - KOREAN": 8515,
    "ASIAN - SOUTH EAST ASIAN": 8515,
    "BLACK/AFRICAN": 38003598,
    "BLACK/AFRICAN AMERICAN": 38003598,
    "BLACK/CAPE VERDEAN": 38003598,
    "BLACK/CARIBBEAN ISLAND": 38003598,
    "HISPANIC OR LATINO": 0,
    "HISPANIC/LATINO - CENTRAL AMERICAN": 0,
    "HISPANIC/LATINO - COLUMBIAN": 0,
    "HISPANIC/LATINO - CUBAN": 0,
    "HISPANIC/LATINO - DOMINICAN": 0,
    "HISPANIC/LATINO - GUATEMALAN": 0,
    "HISPANIC/LATINO - HONDURAN": 0,
    "HISPANIC/LATINO - MEXICAN": 0,
    "HISPANIC/LATINO - PUERTO RICAN": 0,
    "HISPANIC/LATINO - SALVADORAN": 0,
    "MULTIPLE RACE/ETHNICITY": 0,
    "NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER": 8557,
    "OTHER": 0,
    "PATIENT DECLINED TO ANSWER": 0,
    "PORTUGUESE": 8527,
    "SOUTH AMERICAN": 8527,
    "UNABLE TO OBTAIN": 0,
    "UNKNOWN": 0,
    "WHITE": 8527,
    "WHITE - BRAZILIAN": 8527,
    "WHITE - WHITE EASTERN EUROPEAN": 8527,
    "WHITE - OTHER EUROPEAN": 8527,
    "WHITE - RUSSIAN": 8527
}

ddf_adm_pat_merged['race_concept_id'] = ddf_adm_pat_merged['race'].map(race_mapping).fillna(0).astype(int)

print(ddf_adm_pat_merged[['race', 'race_concept_id']])

                                race  race_concept_id
0       HISPANIC/LATINO - GUATEMALAN                0
1                              WHITE             8527
2             BLACK/CARIBBEAN ISLAND         38003598
3                              WHITE             8527
4                              WHITE             8527
...                              ...              ...
431226                         WHITE             8527
431227                         WHITE             8527
431228                         WHITE             8527
431229                         WHITE             8527
431230                         WHITE             8527

[431231 rows x 2 columns]

In [22]:
ethnicity_mapping = {
    "AMERICAN INDIAN/ALASKA NATIVE": 0,
    "ASIAN": 0,
    "ASIAN - ASIAN INDIAN": 0,
    "ASIAN - CHINESE": 0,
    "ASIAN - KOREAN": 0,
    "ASIAN - SOUTH EAST ASIAN": 0,
    "BLACK/AFRICAN": 0,
    "BLACK/AFRICAN AMERICAN": 0,
    "BLACK/CAPE VERDEAN": 0,
    "BLACK/CARIBBEAN ISLAND": 0,
    "HISPANIC OR LATINO": 38003563,
    "HISPANIC/LATINO - CENTRAL AMERICAN": 38003563,
    "HISPANIC/LATINO - COLUMBIAN": 38003563,
    "HISPANIC/LATINO - CUBAN": 38003563,
    "HISPANIC/LATINO - DOMINICAN": 38003563,
    "HISPANIC/LATINO - GUATEMALAN": 38003563,
    "HISPANIC/LATINO - HONDURAN": 38003563,
    "HISPANIC/LATINO - MEXICAN": 38003563,
    "HISPANIC/LATINO - PUERTO RICAN": 38003563,
    "HISPANIC/LATINO - SALVADORAN": 38003563,
    "MULTIPLE RACE/ETHNICITY": 0,
    "NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER": 0,
    "OTHER": 0,
    "PATIENT DECLINED TO ANSWER": 0,
    "PORTUGUESE": 0,
    "SOUTH AMERICAN": 0,
    "UNABLE TO OBTAIN": 0,
    "UNKNOWN": 0,
    "WHITE": 0,
    "WHITE - BRAZILIAN": 0,
    "WHITE - WHITE EASTERN EUROPEAN": 0,
    "WHITE - OTHER EUROPEAN": 0,
    "WHITE - RUSSIAN": 0,
}

ddf_adm_pat_merged['ethnicity_concept_id'] = ddf_adm_pat_merged['race'].map(ethnicity_mapping).fillna(0).astype(int)

print(ddf_adm_pat_merged[['race', 'ethnicity_concept_id']])

                                race  ethnicity_concept_id
0       HISPANIC/LATINO - GUATEMALAN              38003563
1                              WHITE                     0
2             BLACK/CARIBBEAN ISLAND                     0
3                              WHITE                     0
4                              WHITE                     0
...                              ...                   ...
431226                         WHITE                     0
431227                         WHITE                     0
431228                         WHITE                     0
431229                         WHITE                     0
431230                         WHITE                     0

[431231 rows x 2 columns]

In [23]:
ddf_adm_pat_merged['race_source_concept_id'] = 0
ddf_adm_pat_merged['ethnicity_source_concept_id'] = 0
ddf_adm_pat_merged['gender_source_concept_id'] = 0
ddf_adm_pat_merged['admission_location_id'] = 0

In [24]:
race_source_value_mapping = {
    "AMERICAN INDIAN/ALASKA NATIVE": "AMERICAN INDIAN/ALASKA NATIVE",
    "ASIAN": "ASIAN",
    "ASIAN - ASIAN INDIAN": "ASIAN - ASIAN INDIAN",
    "ASIAN - CHINESE": "ASIAN - CHINESE",
    "ASIAN - KOREAN": "ASIAN - KOREAN",
    "ASIAN - SOUTH EAST ASIAN": "ASIAN - SOUTH EAST ASIAN",
    "BLACK/AFRICAN": "BLACK/AFRICAN",
    "BLACK/AFRICAN AMERICAN": "BLACK/AFRICAN AMERICAN",
    "BLACK/CAPE VERDEAN": "BLACK/CAPE VERDEAN",
    "BLACK/CARIBBEAN ISLAND": "BLACK/CARIBBEAN ISLAND",
    "HISPANIC OR LATINO": None,
    "HISPANIC/LATINO - CENTRAL AMERICAN": None,
    "HISPANIC/LATINO - COLUMBIAN": None,
    "HISPANIC/LATINO - CUBAN": None,
    "HISPANIC/LATINO - DOMINICAN": None,
    "HISPANIC/LATINO - GUATEMALAN": None,
    "HISPANIC/LATINO - HONDURAN": None,
    "HISPANIC/LATINO - MEXICAN": None,
    "HISPANIC/LATINO - PUERTO RICAN": None,
    "HISPANIC/LATINO - SALVADORAN": None,
    "MULTIPLE RACE/ETHNICITY": "MULTIPLE RACE/ETHNICITY",
    "NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER": "NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER",
    "OTHER": "OTHER",
    "PATIENT DECLINED TO ANSWER": "PATIENT DECLINED TO ANSWER",
    "PORTUGUESE": "PORTUGUESE",
    "SOUTH AMERICAN": "SOUTH AMERICAN",
    "UNABLE TO OBTAIN": "UNABLE TO OBTAIN",
    "UNKNOWN": "UNKNOWN",
    "WHITE": "WHITE",
    "WHITE - BRAZILIAN": "WHITE - BRAZILIAN",
    "WHITE - WHITE EASTERN EUROPEAN": "WHITE - WHITE EASTERN EUROPEAN",
    "WHITE - OTHER EUROPEAN": "WHITE - OTHER EUROPEAN",
    "WHITE - RUSSIAN": "WHITE - RUSSIAN",
}

ddf_adm_pat_merged['race_source_value'] = ddf_adm_pat_merged['race'].map(race_source_value_mapping)

print(ddf_adm_pat_merged[['race', 'race_source_value']])

                                race       race_source_value
0       HISPANIC/LATINO - GUATEMALAN                    None
1                              WHITE                   WHITE
2             BLACK/CARIBBEAN ISLAND  BLACK/CARIBBEAN ISLAND
3                              WHITE                   WHITE
4                              WHITE                   WHITE
...                              ...                     ...
431226                         WHITE                   WHITE
431227                         WHITE                   WHITE
431228                         WHITE                   WHITE
431229                         WHITE                   WHITE
431230                         WHITE                   WHITE

[431231 rows x 2 columns]

In [25]:
ethnicity_source_value_mapping = {
    "AMERICAN INDIAN/ALASKA NATIVE": None,
    "ASIAN": None,
    "ASIAN - ASIAN INDIAN": None,
    "ASIAN - CHINESE": None,
    "ASIAN - KOREAN": None,
    "ASIAN - SOUTH EAST ASIAN": None,
    "BLACK/AFRICAN": None,
    "BLACK/AFRICAN AMERICAN": None,
    "BLACK/CAPE VERDEAN": None,
    "BLACK/CARIBBEAN ISLAND": None,
    "HISPANIC OR LATINO": "HISPANIC OR LATINO",
    "HISPANIC/LATINO - CENTRAL AMERICAN": "HISPANIC/LATINO - CENTRAL AMERICAN",
    "HISPANIC/LATINO - COLUMBIAN": "HISPANIC/LATINO - COLUMBIAN",
    "HISPANIC/LATINO - CUBAN": "HISPANIC/LATINO - CUBAN",
    "HISPANIC/LATINO - DOMINICAN": "HISPANIC/LATINO - DOMINICAN",
    "HISPANIC/LATINO - GUATEMALAN": "HISPANIC/LATINO - GUATEMALAN",
    "HISPANIC/LATINO - HONDURAN": "HISPANIC/LATINO - HONDURAN",
    "HISPANIC/LATINO - MEXICAN": "HISPANIC/LATINO - MEXICAN",
    "HISPANIC/LATINO - PUERTO RICAN": "HISPANIC/LATINO - PUERTO RICAN",
    "HISPANIC/LATINO - SALVADORAN": "HISPANIC/LATINO - SALVADORAN",
    "MULTIPLE RACE/ETHNICITY": None,
    "NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER": None,
    "OTHER": None,
    "PATIENT DECLINED TO ANSWER": None,
    "PORTUGUESE": None,
    "SOUTH AMERICAN": None,
    "UNABLE TO OBTAIN": None,
    "UNKNOWN": None,
    "WHITE": None,
    "WHITE - BRAZILIAN": None,
    "WHITE - WHITE EASTERN EUROPEAN": None,
    "WHITE - OTHER EUROPEAN": None,
    "WHITE - RUSSIAN": None,
}

ddf_adm_pat_merged['ethnicity_source_value'] = ddf_adm_pat_merged['race'].map(ethnicity_source_value_mapping)

print(ddf_adm_pat_merged[['race', 'ethnicity_source_value']])

                                race        ethnicity_source_value
0       HISPANIC/LATINO - GUATEMALAN  HISPANIC/LATINO - GUATEMALAN
1                              WHITE                          None
2             BLACK/CARIBBEAN ISLAND                          None
3                              WHITE                          None
4                              WHITE                          None
...                              ...                           ...
431226                         WHITE                          None
431227                         WHITE                          None
431228                         WHITE                          None
431229                         WHITE                          None
431230                         WHITE                          None

[431231 rows x 2 columns]

In [26]:
ddf_adm_pat_merged['gender_concept_id'] = np.select(
    [ddf_adm_pat_merged['gender'] == 'F', ddf_adm_pat_merged['gender'] == 'M'],
    [8532, 8507],
    default=0
)
print(ddf_adm_pat_merged[['gender', 'gender_concept_id']])

       gender  gender_concept_id
0           F               8532
1           F               8532
2           M               8507
3           F               8532
4           F               8532
...       ...                ...
431226      M               8507
431227      M               8507
431228      M               8507
431229      M               8507
431230      M               8507

[431231 rows x 2 columns]

In [27]:
ddf_adm_pat_merged['admission_location_id'] = np.nan
print(ddf_adm_pat_merged)

        subject_id   hadm_id           admittime           dischtime  \
0         10467237  20000019 2159-03-20 21:08:00 2159-03-23 16:54:00
1         16925328  20000024 2151-05-25 21:44:00 2151-05-26 18:36:00
2         19430048  20000034 2174-05-22 19:13:00 2174-05-24 17:27:00
3         18910522  20000041 2143-09-03 07:15:00 2143-09-06 13:50:00
4         11146739  20000057 2190-01-15 17:07:00 2190-01-18 16:05:00
...            ...       ...                 ...                 ...
431226    10382924  29999723 2170-08-09 18:56:00 2170-08-10 18:30:00
431227    11326722  29999745 2160-07-05 22:24:00 2160-07-12 12:50:00
431228    12133002  29999809 2172-09-24 21:27:00 2172-09-30 17:04:00
431229    16572164  29999828 2180-10-27 07:15:00 2180-10-30 17:25:00
431230    16549335  29999928 2165-07-28 17:22:00 2165-07-31 11:53:00

       deathtime               admission_type admit_provider_id  \
0            NaT                     EW EMER.            P25U4M
1            NaT                     EW EMER.            P54Q2B
2            NaT           DIRECT OBSERVATION            P30SZF
3            NaT  SURGICAL SAME DAY ADMISSION            P48VXK
4            NaT               EU OBSERVATION            P77SO2
...          ...                          ...               ...
431226       NaT                     EW EMER.            P886Y0
431227       NaT                     EW EMER.            P64BMC
431228       NaT                     EW EMER.            P14D72
431229       NaT  SURGICAL SAME DAY ADMISSION            P843YV
431230       NaT           DIRECT OBSERVATION            P38RSS

        admission_location        discharge_location insurance  ...  \
0           EMERGENCY ROOM                      HOME     Other  ...
1           EMERGENCY ROOM          HOME HEALTH CARE  Medicare  ...
2       PHYSICIAN REFERRAL                      <NA>  Medicare  ...
3       PHYSICIAN REFERRAL  SKILLED NURSING FACILITY     Other  ...
4           EMERGENCY ROOM                      <NA>  Medicare  ...
...                    ...                       ...       ...  ...
431226      EMERGENCY ROOM                      HOME     Other  ...
431227      EMERGENCY ROOM                      HOME     Other  ...
431228      EMERGENCY ROOM                      HOME  Medicare  ...
431229  PHYSICIAN REFERRAL                      HOME     Other  ...
431230  PHYSICIAN REFERRAL                      <NA>     Other  ...

       death_datetime race_concept_id ethnicity_concept_id  \
0                None               0             38003563
1                None            8527                    0
2                None        38003598                    0
3                None            8527                    0
4                None            8527                    0
...               ...             ...                  ...
431226           None            8527                    0
431227           None            8527                    0
431228           None            8527                    0
431229           None            8527                    0
431230           None            8527                    0

       race_source_concept_id ethnicity_source_concept_id  \
0                           0                           0
1                           0                           0
2                           0                           0
3                           0                           0
4                           0                           0
...                       ...                         ...
431226                      0                           0
431227                      0                           0
431228                      0                           0
431229                      0                           0
431230                      0                           0

        gender_source_concept_id admission_location_id  \
0                              0                   NaN
1                              0                   NaN
2                              0                   NaN
3                              0                   NaN
4                              0                   NaN
...                          ...                   ...
431226                         0                   NaN
431227                         0                   NaN
431228                         0                   NaN
431229                         0                   NaN
431230                         0                   NaN

             race_source_value        ethnicity_source_value gender_concept_id
0                         None  HISPANIC/LATINO - GUATEMALAN              8532
1                        WHITE                          None              8532
2       BLACK/CARIBBEAN ISLAND                          None              8507
3                        WHITE                          None              8532
4                        WHITE                          None              8532
...                        ...                           ...               ...
431226                   WHITE                          None              8507
431227                   WHITE                          None              8507
431228                   WHITE                          None              8507
431229                   WHITE                          None              8507
431230                   WHITE                          None              8507

[431231 rows x 45 columns]

In [28]:
default_provider_id = 1
ddf_adm_pat_merged['admit_provider_id'] = default_provider_id

In [29]:
ddf_adm_pat_merged_copy =  ddf_adm_pat_merged.copy()
ddf_adm_pat_merged_copy

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,death_datetime,race_concept_id,ethnicity_concept_id,race_source_concept_id,ethnicity_source_concept_id,gender_source_concept_id,admission_location_id,race_source_value,ethnicity_source_value,gender_concept_id
0,10467237,20000019,2159-03-20 21:08:00,2159-03-23 16:54:00,NaT,EW EMER.,1,EMERGENCY ROOM,HOME,Other,...,None,0,38003563,0,0,0,NaN,None,HISPANIC/LATINO - GUATEMALAN,8532
1,16925328,20000024,2151-05-25 21:44:00,2151-05-26 18:36:00,NaT,EW EMER.,1,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,None,8527,0,0,0,0,NaN,WHITE,None,8532
2,19430048,20000034,2174-05-22 19:13:00,2174-05-24 17:27:00,NaT,DIRECT OBSERVATION,1,PHYSICIAN REFERRAL,<NA>,Medicare,...,None,38003598,0,0,0,0,NaN,BLACK/CARIBBEAN ISLAND,None,8507
3,18910522,20000041,2143-09-03 07:15:00,2143-09-06 13:50:00,NaT,SURGICAL SAME DAY ADMISSION,1,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Other,...,None,8527,0,0,0,0,NaN,WHITE,None,8532
4,11146739,20000057,2190-01-15 17:07:00,2190-01-18 16:05:00,NaT,EU OBSERVATION,1,EMERGENCY ROOM,<NA>,Medicare,...,None,8527,0,0,0,0,NaN,WHITE,None,8532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431226,10382924,29999723,2170-08-09 18:56:00,2170-08-10 18:30:00,NaT,EW EMER.,1,EMERGENCY ROOM,HOME,Other,...,None,8527,0,0,0,0,NaN,WHITE,None,8507
431227,11326722,29999745,2160-07-05 22:24:00,2160-07-12 12:50:00,NaT,EW EMER.,1,EMERGENCY ROOM,HOME,Other,...,None,8527,0,0,0,0,NaN,WHITE,None,8507
431228,12133002,29999809,2172-09-24 21:27:00,2172-09-30 17:04:00,NaT,EW EMER.,1,EMERGENCY ROOM,HOME,Medicare,...,None,8527,0,0,0,0,NaN,WHITE,None,8507
431229,16572164,29999828,2180-10-27 07:15:00,2180-10-30 17:25:00,NaT,SURGICAL SAME DAY ADMISSION,1,PHYSICIAN REFERRAL,HOME,Other,...,None,8527,0,0,0,0,NaN,WHITE,None,8507
431230,16549335,29999928,2165-07-28 17:22:00,2165-07-31 11:53:00,NaT,DIRECT OBSERVATION,1,PHYSICIAN REFERRAL,<NA>,Other,...,None,8527,0,0,0,0,NaN,WHITE,None,8507

In [30]:
!pip install --user pymysql
import pymysql
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')

omopcursor = conn.cursor()
print(conn)

Requirement already satisfied: pymysql in ./.local/lib/python3.9/site-packages (1.1.0)
<_mysql.connection open to '127.0.0.1' at 0x55ee681fedb0>

In [32]:


person_data = ddf_adm_pat_merged_copy[['subject_id', 'gender_concept_id', 'year_of_birth', 'month_of_birth', 'day_of_birth', 'birth_datetime', 'death_datetime', 'race_concept_id', 'ethnicity_concept_id', 'admit_provider_id', 'admission_location_id', 'gender', 'gender_source_concept_id', 'race_source_value', 'race_source_concept_id', 'ethnicity_source_value', 'ethnicity_source_concept_id']]

for index, row in person_data.iterrows():
    row = row.where(pd.notnull(row), None)
    
    sql = "INSERT INTO PERSON (person_id, gender_concept_id, year_of_birth, month_of_birth, day_of_birth, birth_datetime, death_datetime, race_concept_id, ethnicity_concept_id, provider_id, care_site_id, gender_source_value, gender_source_concept_id, race_source_value, race_source_concept_id, ethnicity_source_value, ethnicity_source_concept_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    
    omopcursor.execute(sql, (
        row['subject_id'],
        row['gender_concept_id'],
        row['year_of_birth'],
        row['month_of_birth'],
        row['day_of_birth'],
        row['birth_datetime'],
        row['death_datetime'],
        row['race_concept_id'],
        row['ethnicity_concept_id'],
        row['admit_provider_id'],
        row['admission_location_id'],
        row['gender'],
        row['gender_source_concept_id'],
        row['race_source_value'],
        row['race_source_concept_id'],
        row['ethnicity_source_value'],
        row['ethnicity_source_concept_id'],
    ))

conn.commit()
print("Insertion was successful.")

Insertion was successful.