In [1]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')

omopcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x55c9cb3a8b80>

In [2]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from dask.distributed import Client

In [3]:
df_PROCEDURE_OCCURRENCE = pd.read_sql('select * from `PROCEDURE_OCCURRENCE`', con=conn)

/tmp/ipykernel_5063/804761564.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_PROCEDURE_OCCURRENCE = pd.read_sql('select * from `PROCEDURE_OCCURRENCE`', con=conn)

In [4]:
print('Length - PROCEDURE_OCCURRENCE: ', len(df_PROCEDURE_OCCURRENCE))

Length - PROCEDURE_OCCURRENCE:  0

In [5]:
print(df_PROCEDURE_OCCURRENCE.head())

Empty DataFrame
Columns: [procedure_occurrence_id, person_id, procedure_concept_id, procedure_date, procedure_datetime, procedure_type_concept_id, modifier_concept_id, quantity, provider_id, visit_occurrence_id, visit_detail_id, procedure_source_value, procedure_source_concept_id, modifier_source_value, procedure_end_date, procedure_end_datetime]
Index: []

In [6]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

mimicivconn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='mimiciv')

mimicivcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x55c9cb3a8b80>

In [7]:
df_patients_mimiciv = pd.read_sql('select subject_id, anchor_year, anchor_year_group from patients', con=mimicivconn)

/tmp/ipykernel_5063/330216556.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_patients_mimiciv = pd.read_sql('select subject_id, anchor_year, anchor_year_group from patients', con=mimicivconn)

In [8]:
ddf_patients_mimiciv = dd.from_pandas(df_patients_mimiciv).compute()

In [9]:
df_patients_mimiciv = ''

In [10]:
print(ddf_patients_mimiciv)

        subject_id  anchor_year anchor_year_group
0         10000032         2180       2014 - 2016
1         10000048         2126       2008 - 2010
2         10000068         2160       2008 - 2010
3         10000084         2160       2017 - 2019
4         10000102         2136       2008 - 2010
...            ...          ...               ...
299707    19999828         2147       2017 - 2019
299708    19999829         2186       2008 - 2010
299709    19999840         2164       2008 - 2010
299710    19999914         2158       2017 - 2019
299711    19999987         2145       2011 - 2013

[299712 rows x 3 columns]

In [11]:
df_admissions_mimiciv = pd.read_sql('select subject_id, dischtime from admissions', con=mimicivconn)

/tmp/ipykernel_5063/972570382.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_admissions_mimiciv = pd.read_sql('select subject_id, dischtime from admissions', con=mimicivconn)

In [12]:
ddf_admissions_mimiciv = dd.from_pandas(df_admissions_mimiciv).compute()

In [13]:
df_admissions_mimiciv = ''

In [14]:
print(ddf_admissions_mimiciv)

        subject_id           dischtime
0         10467237 2159-03-23 16:54:00
1         16925328 2151-05-26 18:36:00
2         19430048 2174-05-24 17:27:00
3         18910522 2143-09-06 13:50:00
4         11146739 2190-01-18 16:05:00
...            ...                 ...
431226    10382924 2170-08-10 18:30:00
431227    11326722 2160-07-12 12:50:00
431228    12133002 2172-09-30 17:04:00
431229    16572164 2180-10-30 17:25:00
431230    16549335 2165-07-31 11:53:00

[431231 rows x 2 columns]

In [15]:
df_d_icd_procedures_mimiciv = pd.read_sql('select icd_code, long_title from d_icd_procedures', con=mimicivconn)

/tmp/ipykernel_5063/1650156417.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_d_icd_procedures_mimiciv = pd.read_sql('select icd_code, long_title from d_icd_procedures', con=mimicivconn)

In [16]:
ddf_d_icd_procedures_mimiciv = dd.from_pandas(df_d_icd_procedures_mimiciv).compute()

In [17]:
df_d_icd_procedures_mimiciv = ''

In [18]:
print(ddf_d_icd_procedures_mimiciv)

      icd_code                                         long_title
0         0001  Therapeutic ultrasound of vessels of head and ...
1         0002                    Therapeutic ultrasound of heart
2         0003  Therapeutic ultrasound of peripheral vascular ...
3         0009                       Other therapeutic ultrasound
4          001  Central Nervous System and Cranial Nerves, Bypass
...        ...                                                ...
85252  XW0DXV5  Introduction of Gilteritinib Antineoplastic in...
85253      XXE  New Technology, Physiological Systems, Measure...
85254  XXE5XM5  Measurement of Infection, Whole Blood Nucleic ...
85255      XY0       New Technology, Extracorporeal, Introduction
85256  XY0VX83  Extracorporeal Introduction of Endothelial Dam...

[85257 rows x 2 columns]

In [19]:
df_procedures_icd_mimiciv = pd.read_sql('select subject_id, hadm_id, chartdate, icd_code from procedures_icd', con=mimicivconn)

/tmp/ipykernel_5063/2222401915.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_procedures_icd_mimiciv = pd.read_sql('select subject_id, hadm_id, chartdate, icd_code from procedures_icd', con=mimicivconn)

In [20]:
ddf_procedures_icd_mimiciv = dd.from_pandas(df_procedures_icd_mimiciv).compute()

In [21]:
df_procedures_icd_mimiciv = ''

In [22]:
print(ddf_procedures_icd_mimiciv)

        subject_id   hadm_id   chartdate icd_code
0         10000032  22595853  2180-05-07     5491
1         10000032  22841357  2180-06-27     5491
2         10000032  25742920  2180-08-06     5491
3         10000068  25022803  2160-03-03     8938
4         10000117  27988844  2183-09-19  0QS734Z
...            ...       ...         ...      ...
669181    19999840  21033226  2164-09-16     0331
669182    19999840  26071774  2164-07-25     8891
669183    19999840  26071774  2164-07-25     8841
669184    19999987  23865745  2145-11-07     8841
669185    19999987  23865745  2145-11-02     9671

[669186 rows x 4 columns]

In [23]:
ddf_adm_pat_merged = ddf_admissions_mimiciv.merge(ddf_patients_mimiciv, how='inner', on='subject_id')
print(ddf_adm_pat_merged)

        subject_id           dischtime  anchor_year anchor_year_group
0         10467237 2159-03-23 16:54:00         2159       2011 - 2013
1         16925328 2151-05-26 18:36:00         2143       2008 - 2010
2         19430048 2174-05-24 17:27:00         2172       2017 - 2019
3         18910522 2143-09-06 13:50:00         2142       2011 - 2013
4         11146739 2190-01-18 16:05:00         2188       2011 - 2013
...            ...                 ...          ...               ...
431226    10382924 2170-08-10 18:30:00         2170       2008 - 2010
431227    11326722 2160-07-12 12:50:00         2160       2008 - 2010
431228    12133002 2172-09-30 17:04:00         2166       2008 - 2010
431229    16572164 2180-10-30 17:25:00         2180       2014 - 2016
431230    16549335 2165-07-31 11:53:00         2164       2017 - 2019

[431231 rows x 4 columns]

In [24]:
ddf_icd_merged = ddf_procedures_icd_mimiciv.merge(ddf_d_icd_procedures_mimiciv, how='inner', on='icd_code')
print(ddf_icd_merged)

        subject_id   hadm_id   chartdate icd_code  \
0         10000032  22595853  2180-05-07     5491
1         10000032  22841357  2180-06-27     5491
2         10000032  25742920  2180-08-06     5491
3         10000068  25022803  2160-03-03     8938
4         10000117  27988844  2183-09-19  0QS734Z
...            ...       ...         ...      ...
669234    19999840  21033226  2164-09-16     0331
669235    19999840  26071774  2164-07-25     8891
669236    19999840  26071774  2164-07-25     8841
669237    19999987  23865745  2145-11-07     8841
669238    19999987  23865745  2145-11-02     9671

                                               long_title
0                         Percutaneous abdominal drainage
1                         Percutaneous abdominal drainage
2                         Percutaneous abdominal drainage
3             Other nonoperative respiratory measurements
4       Reposition Left Upper Femur with Internal Fixa...
...                                                   ...
669234                                         Spinal tap
669235  Magnetic resonance imaging of brain and brain ...
669236                 Arteriography of cerebral arteries
669237                 Arteriography of cerebral arteries
669238  Continuous invasive mechanical ventilation for...

[669239 rows x 5 columns]

In [25]:
ddf_procedure_adm_merged = ddf_adm_pat_merged.merge(ddf_icd_merged, how='inner', on='subject_id')
print(ddf_procedure_adm_merged)

         subject_id           dischtime  anchor_year anchor_year_group  \
0          16925328 2151-05-26 18:36:00         2143       2008 - 2010
1          16925328 2151-05-26 18:36:00         2143       2008 - 2010
2          16925328 2151-05-26 18:36:00         2143       2008 - 2010
3          16925328 2151-05-26 18:36:00         2143       2008 - 2010
4          16925328 2151-05-26 18:36:00         2143       2008 - 2010
...             ...                 ...          ...               ...
3877396    12133002 2172-09-30 17:04:00         2166       2008 - 2010
3877397    12133002 2172-09-30 17:04:00         2166       2008 - 2010
3877398    12133002 2172-09-30 17:04:00         2166       2008 - 2010
3877399    12133002 2172-09-30 17:04:00         2166       2008 - 2010
3877400    16572164 2180-10-30 17:25:00         2180       2014 - 2016

          hadm_id   chartdate icd_code  \
0        22835752  2143-09-19     6561
1        22835752  2143-09-19     5423
2        22835752  2143-09-19     5349
3        22835752  2143-09-19     5425
4        23644435  2151-09-05  0QS736Z
...           ...         ...      ...
3877396  24871691  2175-12-27  B211YZZ
3877397  28775954  2168-10-31     3722
3877398  28775954  2168-10-31     8852
3877399  28775954  2168-10-31     8855
3877400  29999828  2180-10-27     4438

                                                long_title
0        Other removal of both ovaries and tubes at sam...
1                                     Biopsy of peritoneum
2                       Other open umbilical herniorrhaphy
3                                        Peritoneal lavage
4        Reposition Left Upper Femur with Intramedullar...
...                                                    ...
3877396  Fluoroscopy of Multiple Coronary Arteries usin...
3877397                 Left heart cardiac catheterization
3877398        Angiocardiography of right heart structures
3877399     Coronary arteriography using a single catheter
3877400                     Laparoscopic gastroenterostomy

[3877401 rows x 8 columns]

In [26]:
ddf_procedure_adm_merged['chartdate'] = pd.to_datetime(ddf_procedure_adm_merged['chartdate'])
ddf_procedure_adm_merged['median_anchor_year'] = ddf_procedure_adm_merged['anchor_year_group'].str.split('-').apply(lambda x: int((int(x[0]) + int(x[1])) / 2))
ddf_procedure_adm_merged['procedure_year'] = ddf_procedure_adm_merged['chartdate'].dt.year
ddf_procedure_adm_merged['month_of_procedure'] = ddf_procedure_adm_merged['chartdate'].dt.month
ddf_procedure_adm_merged['day_of_procedure'] = ddf_procedure_adm_merged['chartdate'].dt.day
ddf_procedure_adm_merged['diff_year'] = ddf_procedure_adm_merged['anchor_year'] - ddf_procedure_adm_merged['median_anchor_year']
ddf_procedure_adm_merged['year_of_procedure'] = ddf_procedure_adm_merged['procedure_year'] - ddf_procedure_adm_merged['diff_year']
ddf_procedure_adm_merged['day_of_procedure'] = ddf_procedure_adm_merged.apply(
    lambda row: min(row['day_of_procedure'], pd.Period(year=row['year_of_procedure'], month=row['month_of_procedure'], freq='M').days_in_month),
    axis=1
)
ddf_procedure_adm_merged['procedure_start_date'] = pd.to_datetime(
    {
        'year': ddf_procedure_adm_merged['year_of_procedure'],
        'month': ddf_procedure_adm_merged['month_of_procedure'],
        'day': ddf_procedure_adm_merged['day_of_procedure']
    }
)
print(ddf_procedure_adm_merged[['procedure_start_date']])

        procedure_start_date
0                 2009-09-19
1                 2009-09-19
2                 2009-09-19
3                 2009-09-19
4                 2017-09-05
...                      ...
3877396           2018-12-27
3877397           2011-10-31
3877398           2011-10-31
3877399           2011-10-31
3877400           2015-10-27

[3877401 rows x 1 columns]

In [27]:
ddf_procedure_adm_merged['procedure_datetime'] = np.nan
print(ddf_procedure_adm_merged[['procedure_datetime']])

         procedure_datetime
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
3877396                 NaN
3877397                 NaN
3877398                 NaN
3877399                 NaN
3877400                 NaN

[3877401 rows x 1 columns]

In [28]:
ddf_procedure_adm_merged['procedure_end_year'] = ddf_procedure_adm_merged['dischtime'].dt.year
ddf_procedure_adm_merged['year_of_procedure_end'] = ddf_procedure_adm_merged['procedure_end_year'] - ddf_procedure_adm_merged['diff_year']
ddf_procedure_adm_merged['month_of_procedure_end'] = ddf_procedure_adm_merged['dischtime'].dt.month
ddf_procedure_adm_merged['day_of_procedure_end'] = ddf_procedure_adm_merged['dischtime'].dt.day
ddf_procedure_adm_merged['day_of_procedure_end'] = ddf_procedure_adm_merged.apply(
    lambda row: min(row['day_of_procedure_end'], pd.Period(year=row['year_of_procedure_end'], month=row['month_of_procedure_end'], freq='M').days_in_month),
    axis=1
)
ddf_procedure_adm_merged['procedure_end_date'] = pd.to_datetime(
    {
        'year': ddf_procedure_adm_merged['year_of_procedure_end'],
        'month': ddf_procedure_adm_merged['month_of_procedure_end'],
        'day': ddf_procedure_adm_merged['day_of_procedure_end']
    }
)
print(ddf_procedure_adm_merged[['procedure_end_date']])

        procedure_end_date
0               2017-05-26
1               2017-05-26
2               2017-05-26
3               2017-05-26
4               2017-05-26
...                    ...
3877396         2015-09-30
3877397         2015-09-30
3877398         2015-09-30
3877399         2015-09-30
3877400         2015-10-30

[3877401 rows x 1 columns]

In [29]:
ddf_procedure_adm_merged['time_of_procedure_end'] = ddf_procedure_adm_merged['dischtime'].dt.time
ddf_procedure_adm_merged['procedure_end_datetime'] = pd.to_datetime(
    {
        'year': ddf_procedure_adm_merged['year_of_procedure_end'],
        'month': ddf_procedure_adm_merged['month_of_procedure_end'],
        'day': ddf_procedure_adm_merged['day_of_procedure_end'],
        'hour': ddf_procedure_adm_merged['time_of_procedure_end'].apply(lambda x: x.hour),
        'minute': ddf_procedure_adm_merged['time_of_procedure_end'].apply(lambda x: x.minute),
        'second': ddf_procedure_adm_merged['time_of_procedure_end'].apply(lambda x: x.second)
    }
)

print(ddf_procedure_adm_merged[['procedure_end_datetime']])

        procedure_end_datetime
0          2017-05-26 18:36:00
1          2017-05-26 18:36:00
2          2017-05-26 18:36:00
3          2017-05-26 18:36:00
4          2017-05-26 18:36:00
...                        ...
3877396    2015-09-30 17:04:00
3877397    2015-09-30 17:04:00
3877398    2015-09-30 17:04:00
3877399    2015-09-30 17:04:00
3877400    2015-10-30 17:25:00

[3877401 rows x 1 columns]

In [30]:
null_or_nat_count = ddf_procedure_adm_merged['chartdate'].isna().sum()
print("Number of null or NaT values in the 'chartdate' column:", null_or_nat_count)
null_or_nat_count = ddf_procedure_adm_merged['dischtime'].isna().sum()
print("Number of null or NaT values in the 'dischtime' column:", null_or_nat_count)

Number of null or NaT values in the 'chartdate' column: 0
Number of null or NaT values in the 'dischtime' column: 0

In [31]:
null_or_nat_count = ddf_procedure_adm_merged['procedure_start_date'].isna().sum()
print("Number of null or NaT values in the 'procedure_start_date' column:", null_or_nat_count)
null_or_nat_count = ddf_procedure_adm_merged['procedure_end_datetime'].isna().sum()
print("Number of null or NaT values in the 'procedure_end_datetime' column:", null_or_nat_count)

Number of null or NaT values in the 'procedure_start_date' column: 0
Number of null or NaT values in the 'procedure_end_datetime' column: 0

In [32]:
ddf_procedure_adm_merged['procedure_type_concept_id'] = 32817
print(ddf_procedure_adm_merged[['procedure_type_concept_id']])

         procedure_type_concept_id
0                            32817
1                            32817
2                            32817
3                            32817
4                            32817
...                            ...
3877396                      32817
3877397                      32817
3877398                      32817
3877399                      32817
3877400                      32817

[3877401 rows x 1 columns]

In [33]:
ddf_procedure_adm_merged['modifier_concept_id'] = np.nan
print(ddf_procedure_adm_merged[['modifier_concept_id']])

         modifier_concept_id
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
3877396                  NaN
3877397                  NaN
3877398                  NaN
3877399                  NaN
3877400                  NaN

[3877401 rows x 1 columns]

In [34]:
ddf_procedure_adm_merged['visit_detail_id'] = np.nan
print(ddf_procedure_adm_merged[['visit_detail_id']])

         visit_detail_id
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
3877396              NaN
3877397              NaN
3877398              NaN
3877399              NaN
3877400              NaN

[3877401 rows x 1 columns]

In [35]:
ddf_procedure_adm_merged['modifier_source_value'] = np.nan
print(ddf_procedure_adm_merged[['modifier_source_value']])

         modifier_source_value
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
...                        ...
3877396                    NaN
3877397                    NaN
3877398                    NaN
3877399                    NaN
3877400                    NaN

[3877401 rows x 1 columns]

In [36]:
ddf_procedure_adm_merged['quantity'] = 1
print(ddf_procedure_adm_merged[['quantity']])

         quantity
0               1
1               1
2               1
3               1
4               1
...           ...
3877396         1
3877397         1
3877398         1
3877399         1
3877400         1

[3877401 rows x 1 columns]

In [37]:
ddf_procedure_adm_merged['provider_id'] = 1
print(ddf_procedure_adm_merged[['provider_id']])

         provider_id
0                  1
1                  1
2                  1
3                  1
4                  1
...              ...
3877396            1
3877397            1
3877398            1
3877399            1
3877400            1

[3877401 rows x 1 columns]

In [39]:
import uuid
 
def generate_numeric_uuid():
    unique_id = uuid.uuid4()
    numeric_id = int(unique_id.bytes.hex(), 16)
    return numeric_id
 
ids = [generate_numeric_uuid() for _ in range(len(ddf_procedure_adm_merged))]
ddf_procedure_adm_merged['procedure_occurrence_id'] = ids
print(ddf_procedure_adm_merged.head())

   subject_id           dischtime  anchor_year anchor_year_group   hadm_id  \
0    16925328 2151-05-26 18:36:00         2143       2008 - 2010  22835752
1    16925328 2151-05-26 18:36:00         2143       2008 - 2010  22835752
2    16925328 2151-05-26 18:36:00         2143       2008 - 2010  22835752
3    16925328 2151-05-26 18:36:00         2143       2008 - 2010  22835752
4    16925328 2151-05-26 18:36:00         2143       2008 - 2010  23644435

   chartdate icd_code                                         long_title  \
0 2143-09-19     6561  Other removal of both ovaries and tubes at sam...
1 2143-09-19     5423                               Biopsy of peritoneum
2 2143-09-19     5349                 Other open umbilical herniorrhaphy
3 2143-09-19     5425                                  Peritoneal lavage
4 2151-09-05  0QS736Z  Reposition Left Upper Femur with Intramedullar...

   median_anchor_year  procedure_year  ...  procedure_end_date  \
0                2009            2143  ...          2017-05-26
1                2009            2143  ...          2017-05-26
2                2009            2143  ...          2017-05-26
3                2009            2143  ...          2017-05-26
4                2009            2151  ...          2017-05-26

   time_of_procedure_end  procedure_end_datetime  procedure_type_concept_id  \
0               18:36:00     2017-05-26 18:36:00                      32817
1               18:36:00     2017-05-26 18:36:00                      32817
2               18:36:00     2017-05-26 18:36:00                      32817
3               18:36:00     2017-05-26 18:36:00                      32817
4               18:36:00     2017-05-26 18:36:00                      32817

  modifier_concept_id  visit_detail_id  modifier_source_value  quantity  \
0                 NaN              NaN                    NaN         1
1                 NaN              NaN                    NaN         1
2                 NaN              NaN                    NaN         1
3                 NaN              NaN                    NaN         1
4                 NaN              NaN                    NaN         1

   provider_id                  procedure_occurrence_id
0            1  297683277735749453362447468620409079293
1            1  288081754013502088871714466905436070448
2            1   69774366308131151252006137833694057425
3            1   40568155282873064916609271119743505858
4            1  338971580377585801679132682455220513746

[5 rows x 30 columns]

In [38]:
procedure_mapping = {
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
    "": ,
}

ddf_procedure_adm_merged['procedure_concept_id'] = ddf_procedure_adm_merged['long_title'].map(procedure_mapping)
ddf_procedure_adm_merged['procedure_concept_id'] = ddf_procedure_adm_merged['procedure_concept_id'].astype('Int64')

print(ddf_adm_pat_merged[['long_title', 'procedure_concept_id']])

SyntaxError: invalid syntax (1093916598.py, line 2)

In [40]:
ddf_procedure_adm_merged_copy =  ddf_procedure_adm_merged.copy()
ddf_procedure_adm_merged_copy

,subject_id,dischtime,anchor_year,anchor_year_group,hadm_id,chartdate,icd_code,long_title,median_anchor_year,procedure_year,...,procedure_end_date,time_of_procedure_end,procedure_end_datetime,procedure_type_concept_id,modifier_concept_id,visit_detail_id,modifier_source_value,quantity,provider_id,procedure_occurrence_id
0,16925328,2151-05-26 18:36:00,2143,2008 - 2010,22835752,2143-09-19,6561,Other removal of both ovaries and tubes at sam...,2009,2143,...,2017-05-26,18:36:00,2017-05-26 18:36:00,32817,NaN,NaN,NaN,1,1,297683277735749453362447468620409079293
1,16925328,2151-05-26 18:36:00,2143,2008 - 2010,22835752,2143-09-19,5423,Biopsy of peritoneum,2009,2143,...,2017-05-26,18:36:00,2017-05-26 18:36:00,32817,NaN,NaN,NaN,1,1,288081754013502088871714466905436070448
2,16925328,2151-05-26 18:36:00,2143,2008 - 2010,22835752,2143-09-19,5349,Other open umbilical herniorrhaphy,2009,2143,...,2017-05-26,18:36:00,2017-05-26 18:36:00,32817,NaN,NaN,NaN,1,1,69774366308131151252006137833694057425
3,16925328,2151-05-26 18:36:00,2143,2008 - 2010,22835752,2143-09-19,5425,Peritoneal lavage,2009,2143,...,2017-05-26,18:36:00,2017-05-26 18:36:00,32817,NaN,NaN,NaN,1,1,40568155282873064916609271119743505858
4,16925328,2151-05-26 18:36:00,2143,2008 - 2010,23644435,2151-09-05,0QS736Z,Reposition Left Upper Femur with Intramedullar...,2009,2151,...,2017-05-26,18:36:00,2017-05-26 18:36:00,32817,NaN,NaN,NaN,1,1,338971580377585801679132682455220513746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3877396,12133002,2172-09-30 17:04:00,2166,2008 - 2010,24871691,2175-12-27,B211YZZ,Fluoroscopy of Multiple Coronary Arteries usin...,2009,2175,...,2015-09-30,17:04:00,2015-09-30 17:04:00,32817,NaN,NaN,NaN,1,1,232095311299784383686149652150663071498
3877397,12133002,2172-09-30 17:04:00,2166,2008 - 2010,28775954,2168-10-31,3722,Left heart cardiac catheterization,2009,2168,...,2015-09-30,17:04:00,2015-09-30 17:04:00,32817,NaN,NaN,NaN,1,1,313408303096217635729767445217818816134
3877398,12133002,2172-09-30 17:04:00,2166,2008 - 2010,28775954,2168-10-31,8852,Angiocardiography of right heart structures,2009,2168,...,2015-09-30,17:04:00,2015-09-30 17:04:00,32817,NaN,NaN,NaN,1,1,271869850012639948407625133738350665178
3877399,12133002,2172-09-30 17:04:00,2166,2008 - 2010,28775954,2168-10-31,8855,Coronary arteriography using a single catheter,2009,2168,...,2015-09-30,17:04:00,2015-09-30 17:04:00,32817,NaN,NaN,NaN,1,1,301735523765742229454396394706559410211
3877400,16572164,2180-10-30 17:25:00,2180,2014 - 2016,29999828,2180-10-27,4438,Laparoscopic gastroenterostomy,2015,2180,...,2015-10-30,17:25:00,2015-10-30 17:25:00,32817,NaN,NaN,NaN,1,1,226711436812969685326751216271611807092

In [43]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')
omopcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x55c9cdd4de40>

In [ ]:
procedure_occurrence_data = ddf_procedure_adm_merged_copy[['procedure_occurrence_id', 'subject_id', 'procedure_concept_id', 'procedure_start_date', 'procedure_datetime', 'procedure_type_concept_id', 'modifier_concept_id', 'quantity', 'provider_id', 'hadm_id', 'visit_detail_id', 'long_title', 'icd_code', 'modifier_source_value', 'procedure_end_date', 'procedure_end_datetime']]

for index, row in procedure_occurrence_data.iterrows():
    row = row.where(pd.notnull(row), None)
    
    sql = "INSERT INTO PROCEDURE_OCCURRENCE (procedure_occurrence_id, person_id, procedure_concept_id, procedure_date, procedure_datetime, procedure_type_concept_id, modifier_concept_id, quantity, provider_id, visit_occurrence_id, visit_detail_id, procedure_source_value, procedure_source_concept_id, modifier_source_value, procedure_end_date, procedure_end_datetime) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    
    omopcursor.execute(sql, (
        row['procedure_occurrence_id'],
        row['subject_id'],
        row['procedure_concept_id'],
        row['procedure_start_date'],
        row['procedure_datetime'],
        row['procedure_type_concept_id'],
        row['modifier_concept_id'],
        row['quantity']
        row['provider_id'],
        row['hadm_id']
        row['visit_detail_id'],
        row['long_title'],
        row['icd_code'],
        row['modifier_source_value'],
        row['procedure_end_date'],
        row['procedure_end_datetime']
    ))

conn.commit()
print("Insertion was successful.")