In [1]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')

omopcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x5654438f0710>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_PROVIDER = pd.read_sql('select * from `PROVIDER`', con=conn)

/tmp/ipykernel_411850/1178160551.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_PROVIDER = pd.read_sql('select * from `PROVIDER`', con=conn)

In [4]:
print('Length - PROVIDER: ', len(df_PROVIDER))

Length - PROVIDER:  0

In [5]:
print(df_PROVIDER.head())

Empty DataFrame
Columns: [provider_id, npi, dea, specialty_concept_id, care_site_id, year_of_birth, gender_concept_id, provider_source_value, specialty_source_value, specialty_source_concept_id, gender_source_value, gender_source_concept_id]
Index: []

In [6]:
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

mimicivconn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='mimiciv')

mimicivcursor = conn.cursor()
print(conn)

<_mysql.connection open to '127.0.0.1' at 0x5654438f0710>

In [7]:
df_provider_mimiciv = pd.read_sql('select * from provider', con=mimicivconn)
print(df_provider_mimiciv.head())

  provider_id
0      P0003D
1      P000DI
2      P000EW
3      P000H9
4      P000I6

/tmp/ipykernel_411850/1204220157.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_provider_mimiciv = pd.read_sql('select * from provider', con=mimicivconn)

In [8]:
default_provider_id = 1
df_provider_mimiciv['provider_id'] = default_provider_id
print(df_provider_mimiciv['provider_id'])

0        1
1        1
2        1
3        1
4        1
        ..
40503    1
40504    1
40505    1
40506    1
40507    1
Name: provider_id, Length: 40508, dtype: int64

In [9]:
df_provider_mimiciv['specialty_concept_id'] = 0
print(df_provider_mimiciv['specialty_concept_id'])

0        0
1        0
2        0
3        0
4        0
        ..
40503    0
40504    0
40505    0
40506    0
40507    0
Name: specialty_concept_id, Length: 40508, dtype: int64

In [10]:
df_provider_mimiciv['gender_concept_id'] = 0
print(df_provider_mimiciv['gender_concept_id'])

0        0
1        0
2        0
3        0
4        0
        ..
40503    0
40504    0
40505    0
40506    0
40507    0
Name: gender_concept_id, Length: 40508, dtype: int64

In [11]:
df_provider_mimiciv['npi'] = None
print(df_provider_mimiciv['npi'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: npi, Length: 40508, dtype: object

In [12]:
df_provider_mimiciv['dea'] = None
print(df_provider_mimiciv['dea'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: dea, Length: 40508, dtype: object

In [13]:
df_provider_mimiciv['care_site_id'] = None
print(df_provider_mimiciv['care_site_id'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: care_site_id, Length: 40508, dtype: object

In [14]:
df_provider_mimiciv['year_of_birth'] = None
print(df_provider_mimiciv['year_of_birth'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: year_of_birth, Length: 40508, dtype: object

In [15]:
df_provider_mimiciv['provider_source_value'] = None
print(df_provider_mimiciv['provider_source_value'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: provider_source_value, Length: 40508, dtype: object

In [16]:
df_provider_mimiciv['specialty_source_value'] = None
print(df_provider_mimiciv['specialty_source_value'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: specialty_source_value, Length: 40508, dtype: object

In [17]:
df_provider_mimiciv['specialty_source_concept_id'] = None
print(df_provider_mimiciv['specialty_source_concept_id'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: specialty_source_concept_id, Length: 40508, dtype: object

In [18]:
df_provider_mimiciv['gender_source_value'] = None
print(df_provider_mimiciv['gender_source_value'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: gender_source_value, Length: 40508, dtype: object

In [19]:
df_provider_mimiciv['gender_source_concept_id'] = None
print(df_provider_mimiciv['gender_source_concept_id'])

0        None
1        None
2        None
3        None
4        None
         ...
40503    None
40504    None
40505    None
40506    None
40507    None
Name: gender_source_concept_id, Length: 40508, dtype: object

In [20]:
df_provider_mimiciv_copy =  df_provider_mimiciv.copy()
df_provider_mimiciv_copy

,provider_id,specialty_concept_id,gender_concept_id,npi,dea,care_site_id,year_of_birth,provider_source_value,specialty_source_value,specialty_source_concept_id,gender_source_value,gender_source_concept_id
0,1,0,0,None,None,None,None,None,None,None,None,None
1,1,0,0,None,None,None,None,None,None,None,None,None
2,1,0,0,None,None,None,None,None,None,None,None,None
3,1,0,0,None,None,None,None,None,None,None,None,None
4,1,0,0,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
40503,1,0,0,None,None,None,None,None,None,None,None,None
40504,1,0,0,None,None,None,None,None,None,None,None,None
40505,1,0,0,None,None,None,None,None,None,None,None,None
40506,1,0,0,None,None,None,None,None,None,None,None,None
40507,1,0,0,None,None,None,None,None,None,None,None,None

In [21]:
!pip install --user pymysql
import pymysql
import MySQLdb

myvars = {}
with open("ksunchu-password") as myfile:
 for line in myfile:
    name, var = line.partition("=")[::2]
    myvars[name.strip()] = var.strip()

conn = MySQLdb.connect(host="127.0.0.1", user=myvars['username'], passwd=myvars['password'], db='omop')

omopcursor = conn.cursor()
print(conn)

Requirement already satisfied: pymysql in ./.local/lib/python3.9/site-packages (1.1.0)
<_mysql.connection open to '127.0.0.1' at 0x565444ad3160>

In [22]:
provider_data = df_provider_mimiciv_copy[['provider_id', 'npi', 'dea', 'specialty_concept_id', 'care_site_id', 'year_of_birth', 'gender_concept_id', 'provider_source_value', 'specialty_source_value', 'specialty_source_concept_id', 'gender_source_value', 'gender_source_concept_id']]

row = provider_data.iloc[0]

sql = "INSERT INTO PROVIDER (provider_id, npi, dea, specialty_concept_id, care_site_id, year_of_birth, gender_concept_id, provider_source_value, specialty_source_value, specialty_source_concept_id, gender_source_value, gender_source_concept_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

omopcursor.execute(sql, (
    row['provider_id'],
    row['npi'],
    row['dea'],
    row['specialty_concept_id'],
    row['care_site_id'],
    row['year_of_birth'],
    row['gender_concept_id'],
    row['provider_source_value'],
    row['specialty_source_value'],
    row['specialty_source_concept_id'],
    row['gender_source_value'],
    row['gender_source_concept_id'] 
))
conn.commit()
print("Insertion was successful.")

Insertion was successful.